body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.rc-slider {
  position: absolute;
  top: 0px;
  left: 30px;
}

.rc-slider-handle {
  width: 44px;
  height: 44px;
  margin-bottom: -22px !important;
  margin-left: -20px !important;
}

.rc-slider-mark {
  visibility: hidden;
}

#listen-button {
  display: inline;
  position: absolute;
  width: 2.75rem;
  height: 2.5rem;
  font-size: 1.5rem;
  padding-top: 2px;
  top: 0px;
  margin: 10px 0px 0px 70px;
  background: white;
}

#listen-button.active {
  background: red;
}

#listen-button:focus,
.Select.is-focused {
  outline: solid 3px #73a6ff;
}

.Select {
  position: absolute;
  top: 0px;
  left: 144px;
  margin-top: 9px;
  display: inline-block;
  color: #00ffff;
}

.Select .Select-control,
.Select-menu-outer {
  width: 7rem;
  max-width: 7rem;
  min-width: 7rem;
  min-height: 39px;
  max-height: 39px;
}

.Select-input {
  height: 2.5rem;
}

.Select-value-label {
  vertical-align: middle;
  font-size: 1.5rem;
}

#signal-wrapper,
#filtered-signal {
  width: 100vw;
  height: 100vh;
  background-color: black;
  margin: 0px 0px 0px 0px;
}
